<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Spectrum</title>
        <meta charset="UTF-8"/>
        <link href="../../static/css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/jquery.3.6.3/jquery.slim.js}"/>

    </head>
    <body>
        <header th:fragment="header">
            <nav class="nav">
            </nav>
            <h1 style="text-align: right;background-color: #002A4A;color:gainsboro; font-size: 80%;" sec:authorize="isAuthenticated()">
                <i></i>Usuario: <span sec:authentication="name"></span>
                <form method="post" th:action="@{/logout}">
                    <button class="btn btn-primary"><i ></i>Salir</button>                
                </form>
            </h1>
                
            <!-- Logo para regresar al index -->
                <a th:href="@{/}"  class="logo nav-link" >
                    <img src="https://www.spectrum.com/content/experience-fragments/spectrum/residential/en/header/global-header-xf/master/_jcr_content/root/header/brandLogo.coreimg.svg/1663276278765/spectrum-logo.svg"/>
                </a>
            <hr>
   
          <div class="container-fluid" >
	<div class="row">
		<div class="col-md-12">
                    
			<ul class="nav" sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_VENDEDOR')">
                            <li class="nav-item">
					<a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" 
                                         th:href="@{/cliente/listado}" >Clientes</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/producto/listado}"  >Productos y Servicios</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/suscripcion/listado}" >Suscripciones</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/comentario/listado}" >Comentarios y Experiencias</a>
				</li>
                            
                                
                            
				<li class="nav-item dropdown ml-md-auto">
					 <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown">Dropdown link</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
						 <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
						<div class="dropdown-divider">
						</div> <a class="dropdown-item" href="#">Separated link</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
              
            
        </header>  

        <footer th:fragment="footer">            
            <hr/>
            <p th:text="#{aplicacion.footer}"></p>
            <p th:text="#{aplicacion.telefono}"></p>
         
            <center>
            <a th:href="@{/info/internet}" >  Internet
                <img src="https://www.spectrum.com/content/dam/spectrum/common/en/Icons/Icons-Medium-Blue/icon-internet-mediumblue.svg"/>
            </a>
            <a th:href="@{/info/tv}"  > TV
                <img src="https://www.spectrum.com/content/dam/spectrum/common/en/Icons/Icons-Medium-Blue/icon-tv-mediumblue.svg"/>
            </a>
            <a th:href="@{/info/voice}" > VOZ
                <img src="https://www.spectrum.com/content/dam/spectrum/common/en/Icons/Icons-Medium-Blue/icon-voice-mediumblue.svg"/>
            </a>
            <a th:href="@{/info/mobile}" >   Celular
                <img src="https://www.spectrum.com/content/dam/spectrum/common/en/Icons/Icons-Medium-Blue/icon-mobile-mediumblue.svg"/>
            </a>
            </center>
            <hr/>
            <p>
                <a th:href="@{/(lang=ES)}">ES</a>
                <a th:href="@{/(lang=EN)}">EN</a>
            </p>
        </footer> 
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
