<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
    <title>Spectrum</title>
    <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    
    
    <section th:fragment="listadoComentarios" id="comentarios">
        <div class="container-fluid">
          <div class="contenido">
            <h2 th:text="#{plantilla.consultas}" >Comentarios</h2>
            <dd>
		
            </dd>
            <hr>
            <a type="button" class="btn btn-primary" th:href="@{/comentario/nuevo}" th:text="#{plantilla.consultas}">Nuevo comentario</a>
            <hr>
            <div th:if="${comentarios !=null and !comentarios.empty}">
                <table border="0">
                    <thead>

                    </thead>
                    <tbody>
      
                        </tr>
                    </tbody>
                </table>
            </div>
                        
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead class="table-active">
                                   
	                        <tr>
                            <th th:text="#{com.com}">Detalle</th>
                            <th th:text="#{articulo.articulo}">Producto</th>
                     

                        </tr>
				</thead>
                            
				<tbody>
                        <tr th:each="comentario : ${comentarios}">
                        <td th:text="${comentario.detalle}"></td> 
                        <td th:text="${comentario.producto.descripcion}"></td> 
                        <td><a type="button" class="btn btn-warning" th:href="@{/comentario/modificar/} + ${comentario.idComentario}"th:text="#{accion.modificar}">Modificar</a></td>
                        <td><a type="button" class="btn btn-danger" th:href="@{/comentario/eliminar/} + ${comentario.idComentario}"th:text="#{accion.eliminar}">Eliminar</a></td>
                  
                        </tr>
				</tbody>
			</table>
		</div>
	</div>

            <div th:if="${comentarios ==null or comentarios.empty}">
                <p  th:text="#{aplicacion.data}" > No hay clientes que mostrar</p>
            </div>
        </div>  
            </div>
        
    </section>
    
    
    <section th:fragment="modificarComentarios">
        <div class="container-fluid">
        <h2 th:text="#{com.nuevo}" >Comentarios</h2>
        <dd>
					
				</dd>
        <hr>
             
        	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        <form th:action="@{/comentario/guardar}"
              method="post"
              th:object="${comentario}">
            <input type="hidden" name="idComentario" 
                   th:field="*{idComentario}"/>
            
            <label th:text="#{com.com}" >Detalle</label>
            <input type="text" 
                   class="form-control"
                   name="detalle"
                   required="true"
                   th:field="*{detalle}"/>
            <br>
            
            
            <label th:text="#{articulo.articulo}" >Producto</label>
            <input type="text" 
                   class="form-control"
                   name="descripcion"
                   required="true"
                   th:field="*{producto.descripcion}"/>
            <br>    
                
              <a th:href="@{/suscripcion/listado}" class="btn btn-warning">[[#{accion.regresar}]]</a>
            <button type="submit" class="btn btn-success btn-block">
                                <i class="fas fa-check"></i> [[#{accion.guardar}]]
                            </button>    
                        
        </form>
            
        
            </div>
                            </div>
                    </div>
                    </div>
                
            </div>
        <br>
            <br><br><br>
                        <div class="container-fluid">
      
        </div>
    </section>
          
    
    
    
    
    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>