<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spectrum</title>
        <meta charset="UTF-8"/>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="contenido">
            <h2>Comenarios</h2>
            <hr>
            <a th:href="@{/comentario/nuevo}">Nuevo comentario</a>

            <div th:if="${comentarios !=null and !comentarios.empty}">
                <table border="0">
                    <thead>
                        <tr>
                            <th >Detalle</th>
                            <th >Producto</th>
                            <th >Eliminar</th>
                            <th >Modificar</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="comentario : ${comentarios}">
                        <td th:text="${comentario.detalle}"></td> 
                        <td th:text="${comentario.producto.descripcion}"></td> 
                        
                        <td><a th:href="@{/comentario/eliminar/} + ${comentario.idComentario}">Eliminar</a></td>
                        <td><a th:href="@{/comentario/modificar/} + ${comentario.idComentario}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${comentarios ==null or comentarios.empty}">
                <p > No hay clientes que mostrar</p>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
