<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
    <title>Spectrum</title>
    <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    
    <section th:fragment="listadoSuscripciones" id="suscripciones">
    <div class="container-fluid"> 
        
        <div class="contenido">
            <h2>Listado de Suscripciones</h2>
                      <dd>
					En este apartado puede agregar, modificar o eliminar suscripciones.
				</dd>
            <hr>
            <a type="button" class="btn btn-primary" th:href="@{/suscripcion/nuevo}">Nueva Suscripcion</a>
            <div th:if="${suscripciones !=null and !suscripciones.empty}">
               <hr>
                 <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead class="table-active">
                                    <th >Tipo</th>
                                    <th >Modificar</th>
                                    <th >Eliminar</th>
                                    
		
					</tr>
				</thead>
                            
				<tbody>
                         <tr th:each="suscripcion : ${suscripciones}">
                        <td th:text="${suscripcion.tiposus}"></td> 
                        <td><a <a type="button" class="btn btn-danger" th:href="@{/suscripcion/modificar/} + ${suscripcion.idSuscripcion}">Modificar</a></td>
                        <td><a type="button" class="btn btn-warning"th:href="@{/suscripcion/eliminar/} + ${suscripcion.idSuscripcion}">Eliminar</a></td>
                                                   </tr>
            </div>

            <div th:if="${suscripciones ==null or suscripciones.empty}">
                <p > No hay suscripciones que mostrar</p>
            </div>


    </section>
    
    <section th:fragment="modificarSuscripciones">
        <div class="container-fluid">
       <h2>Datos de Suscripcion</h2>
            <dd>
					Ingrese información de suscripción.
				</dd>
       
       <hr>
        	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        <form th:action="@{/suscripcion/guardar}"
              method="post"
              th:object="${suscripcion}">
            <input type="hidden" name="idSuscripcion" 
                   th:field="*{idSuscripcion}"/>

            <label>Tipo</label>
            <input type="text"
                   class="form-control"
                   name="tiposus"
                   required="true"
                   th:field="*{tiposus}"/>
            <br>
            <input type="submit" value="Guardar" class="btn btn-warning"/>         
        </form> 
        <div class="container-fluid">
        
        <a th:href="@{/suscripcion/listado}" class="btn btn-primary">Regresar</a>
     
         </div>
       
    </section>
    
    <footer th:replace="~{layout/plantilla :: footer}"/>
    
    
</body>
</html>