<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spectrum</title>
        <meta charset="UTF-8"/>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <div class="contenido">
            <h2>Listado de Suscripciones</h2>
            <hr>
            <a th:href="@{/suscripcion/nuevo}">Nueva Suscripcion</a>

            <div th:if="${suscripciones !=null and !suscripciones.empty}">
                <table border="0">
                    <thead>
                        <tr>
                            <th >Tipo</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr th:each="suscripcion : ${suscripciones}">
                        <td th:text="${suscripcion.tiposus}"></td> 
                        
                        <td><a th:href="@{/suscripcion/eliminar/} + ${suscripcion.idSuscripcion}">Eliminar</a></td>
                        <td><a th:href="@{/suscripcion/modificar/} + ${suscripcion.idSuscripcion}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div th:if="${suscripciones ==null or suscripciones.empty}">
                <p > No hay suscripciones que mostrar</p>
            </div>
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
