<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spectrum</title>
        <meta charset="UTF-8"/>
           <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
          <hr>
          <center>
        <h1 th:text="#{internet.ti}"></h1>
    </center>
        </hr>
                       
               
          
            <div class="container text-center">
                <div class="row align-items-end">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src=https://previews.123rf.com/images/madmaxer/madmaxer1304/madmaxer130400119/19375387-3d-ilustraci%C3%B3n-de-la-mano-del-cursor-apunta-a-la-internet-global.jpg class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{internet.pl30}" >Card title</h5>
                                    <p class="card-text" th:text="#{internet.precio1}"> </p>
                                </div>
                          
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src=https://previews.123rf.com/images/madmaxer/madmaxer1304/madmaxer130400119/19375387-3d-ilustraci%C3%B3n-de-la-mano-del-cursor-apunta-a-la-internet-global.jpg class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{internet.pl100}" >Card title</h5>
                                    <p class="card-text" th:text="#{internet.precio3}"> </p>
                                </div>
                              
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src=https://previews.123rf.com/images/madmaxer/madmaxer1304/madmaxer130400119/19375387-3d-ilustraci%C3%B3n-de-la-mano-del-cursor-apunta-a-la-internet-global.jpg class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{internet.pl500}" >Card title</h5>
                                    <p class="card-text" th:text="#{internet.precio2}"> </p>
                                </div>
                             
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src=https://previews.123rf.com/images/madmaxer/madmaxer1304/madmaxer130400119/19375387-3d-ilustraci%C3%B3n-de-la-mano-del-cursor-apunta-a-la-internet-global.jpg class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{internet.pl1000}" >Card title</h5>
                                    <p class="card-text" th:text="#{internet.precio4}"> </p>
                                </div>
                              
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
<div class="container-lg" th:text="#{internet.nota}"></div>
       
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>