<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spectrum</title>
        <meta charset="UTF-8"/>
           <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
          <hr>
          <center>
        <h1 th:text="#{internet.ti}"></h1>
     
        <p th:text="#{internet.info}"></p>
        <div  style="align-content: center">
        <h4 th:text="#{internet.pl30}">&nbsp;</h4> 
        <h4 th:text="#{internet.pl100}">&nbsp;</h4>
        <h4 th:text="#{internet.pl500}">&nbsp;</h4>
        <h4 th:text="#{internet.pl1000}">&nbsp;</h4>
        </div>
         </center>
        </hr>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>