<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Spectrum</title>
        <meta charset="UTF-8"/>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body >
                             <h1 style="text-align: right;background-color: #002A4A;color:gainsboro; font-size: 40%;" >  
                 <br>
               <div class="container-fluid"> 
               <p>
                <a button class="btn btn-primary" th:href="@{/}" style="color:white;">Volver al inicio</a>
            </p>
                   </div>   
           </h1>
        <header th:replace="~{layout/plantilla :: header}" />
     
  <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-expand-lg navbar-light bg-light static-top " sec:authorize="!isAuthenticated()">
				 
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="navbar-toggler-icon"></span>
				</button> <a class="navbar-brand" th:href="@{/login}">Iniciar sesión</a>
                                
                                
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="navbar-nav">
                                            <li class="nav-item">
							 <a class="nav-link" th:href="@{/info/internet}">Internet</a>
						</li>
                                            <li class="nav-item">
							 <a class="nav-link" th:href="@{/info/tv}">Televisión</a>
						</li>
                                            <li class="nav-item">
							 <a class="nav-link" th:href="@{/info/voice}">Telefonía Residencial</a>
						</li>
						<li class="nav-item active">
                                                     <li class="nav-item">
							 <a class="nav-link" th:href="@{/info/mobile}">Telefonía Móvil</a>
						</li>
							 <a class="nav-link" th:href="@{/info/contactanos}">Contáctanos <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							 <a class="nav-link" th:href="@{/info/sobrenosotros}">Sobre nosotros</a>
						</li>
					</ul>

				</div>

			</nav>

		</div>
	</div>
      </div>
        

    <div class="container-fluid" style="background-color:#434f73; color:whitesmoke">

	<div class="row">
		<div class="col-md-12">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6"   >
                                        <br>
                        <br>
                            <br>             
         <h1 th:text="#{tv.ti}"  ></h1>

                                <br>
                                    <br>
                                        <br>
                                             <br>
			<div class="jumbotron">
				<h2>
					Lo mejor de la TV Digital y HD a tu alcance
				</h2>
				<p>
					La mejor experiencia de entretenimiento.

				</p>

			</div>
			
		</div>
            
		<div class="col-md-6" >
                <img style="width:60rem; " alt="Bootstrap Image Preview" src="https://static.bhphotovideo.com/explora/sites/default/files/120_.png" />
		</div>
                
	</div>
</div>
  
           <div style="background-color:#b8d4e5">
               <br>
            <br>    
            <div class="container text-center">
                <div class="row align-items-end">
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="https://t4.ftcdn.net/jpg/05/70/20/13/240_F_570201384_xca1mRX0z88UwVaRpgLpqFtjbgmGnSuO.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{tv.pl2}" >Card title</h5>
                                    <p class="card-text" th:text="#{tv.precio1}"> </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"th:text="#{tv.hd}">An item</li>
                                    <li class="list-group-item"th:text="#{tv.sd}" >A second item</li>
                                    <li class="list-group-item" th:text="#{tv.music}">A third item</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="https://as2.ftcdn.net/v2/jpg/05/70/54/63/1000_F_570546370_oDAIIzyX283tolHMP0m73KlBZD6eQsBI.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{tv.pl1}" >Card title</h5>
                                    <p class="card-text" th:text="#{tv.precio2}"> </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"th:text="#{tv.hd}">An item</li>
                                    <li class="list-group-item"th:text="#{tv.sd}" >A second item</li>
                                    <li class="list-group-item" th:text="#{tv.music}">A third item</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <img src="https://as1.ftcdn.net/v2/jpg/05/70/54/64/1000_F_570546430_RUN3dUAcNPyBousu40ZH8IDiWA8fR9G6.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title"th:text="#{tv.pl3}" >Card title</h5>
                                    <p class="card-text" th:text="#{tv.precio3}"> </p>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"th:text="#{tv.st}">An item</li>
                                    <li class="list-group-item"th:text="#{tv.stsd}" >A second item</li>
                                    <li class="list-group-item" th:text="#{tv.music}">A third item</li>
                                </ul>
                                <div class="card-body">
                                    <a href="#" class="card-link">Obtener</a>
                                    <a href="#" class="card-link">Contactar</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
                <br><br>
           </div>
          
    <div class="container-fluid" style="background-color:#434f73;">
	<div class="row">
		<div class="col-md-12">
			<blockquote class="blockquote">
				
                            <div class="mb-0" th:text="#{tv.nota}" style="color:#b8d4e5"></div>
                            <br>
				<footer class="blockquote-footer">
					 <cite>Se aplican restricciones</cite>
				</footer>
			</blockquote>  
                </div>

            <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>