<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
    <title>Spectrum</title>
    <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>
    
    
    <section th:fragment="listadoProductos" id="productos">
    <div class="container-fluid">
        <div class="contenido">
            
            <h2 th:text="#{articulo.lista}">Listado de servicio</h2>
       				<dd>
					<!--En este apartado puede agregar, modificar o eliminar productos
				--></dd>
            <hr>

            <a type="button" class="btn btn-primary" th:href="@{/producto/nuevo}" th:text="#{articulo.nuevo}">Nuevo Producto</a>
            <div th:if="${productos !=null and !productos.empty}">
                <table border="0">
                    <thead>

                    </thead>
            <hr>
                </div>
            </div>
        </div>
        
            <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<thead class="table-active">
                                   
					<tr>		
						<th th:text="#{articulo.descripcion}">Descripción</th>
						<th th:text="#{articulo.precio}">Precio</th>
					<!--	<th th:text="#{articulo.}">Modificar</th>
                                                 <th th:text="#{articulo.nuevo}">Eliminar</th>
					--></tr>
				</thead>
                            
				<tbody>
                        <tr th:each="producto : ${productos}">
                        <td th:text="${producto.descripcion}"></td> 
                        <td th:text="${producto.precio}"></td>
                        <td><a type="button" class="btn btn-warning" th:href="@{/producto/modificar/} + ${producto.idProducto}" th:text="#{accion.modificar}">Modificar</a></td>
                        <td><a type="button" class="btn btn-danger" th:href="@{/producto/eliminar/} + ${producto.idProducto}" th:text="#{accion.eliminar}">Eliminar</a></td>
                        
                        </tr>
				</tbody>
			</table>
		</div>
	</div>
    </div>
        
    </section>
    
    <section th:fragment="modificarProductos">
        <div class="container-fluid">
        <h2 th:text="#{articulo.articulo}" >Productos</h2>
        	<dd>
					
				</dd>
        <hr>
       
            <div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
        <form th:action="@{/producto/guardar}"
              method="post"
              th:object="${producto}">
            <input type="hidden" name="idProducto" 
                   th:field="*{idProducto}"/>
            
            <label th:text="#{articulo.descripcion}" >Detalle</label>
            <input type="text" 
                   class="form-control"
                   name="descripcion"
                   required="true"
                   th:field="*{descripcion}"/>
            <br>
            
            
            <label th:text="#{articulo.precio}">Precio</label>
            <input type="text" 
                   class="form-control"
                   name="precio"
                   required="true"
                   th:field="*{precio}"/>
            <br>    
                
              <a th:href="@{/producto/listado}" class="btn btn-primary" th:text="#{accion.regresar}">Regresar</a>
             <button class="btn btn-primary" type="submit" th:text="#{accion.guardar}">Guardar</button>
                       
        </form>
        </div>
                            </div>
                    </div>
                </div>

                <br>
                    <br>
        <br>   
            <br>
            <br>
                <br>
            <hr>
          
        
            </div>
    </section>
    
     
    
    
    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>