<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Productos</title>
        <meta charset="UTF-8"/>
        <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        
        <h2>Datos de Productos</h2>
        <hr>
        <a th:href="@{/producto/listado}">Regresar</a>
        <hr>
        <form th:action="@{/producto/guardar}"
              method="post"
              th:object="${producto}">
            <input type="hidden" name="idProducto" 
                   th:field="*{idProducto}"/>
            
            <label>Descripcion</label>
            <input type="text" 
                   name="descripcion"
                   required="true"
                   th:field="*{descripcion}"/>

            <br>
            <label>Precio</label>
            <input type="text" 
                   name="precio"
                   required="true"
                   th:field="*{precio}"/>

            <br>
            <hr>
            <input type="submit" value="Guardar" />
            <hr>            
        </form>
        
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>