@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {

}

body {
  background: white;
  font-family: "Montserrat", sans-serif;
}

.navMenu {
  
}

.nav-menu{
    
}

.navbar-nav{
    display: inline-flex;
    font-family: sans-serif;
    text-align: center;
}
.footer{
 text-align:center;   
  height: 20px;
    position:relative;
    bottom: 0;
    left:0;
    width:100%;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.nav {
    justify-content: space-between;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 15px;
}


.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}

.nav-menu {
    display: inline-flex;
    font-family: sans-serif;
    text-align: center;
}

.nav-menu-item {
    display: inline-flex;
    font-family: sans-serif;
    text-align: center;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 8px;
}

.nav-menu-link:hover {

   transition: 0.5s;
   font-size: 20px;
}
