<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
            <div> 
                <h2>Login</h2>
            </div>
                <div>
                    <form method="POST" th:action="@{/login}">
                        <div>
                            <label for="username">Usuario</label>
                        </div>    
                        <div>
                            <input type="text" name="username" 
                                   id="username"/>
                        </div>
                            <label for="password">Password</label>
                        <div>
                            <input type="password" name="password" 
                                   id="password"/>
                        </div>    
                        <div>
                            <button type="submit">Submit</button>
                        </div>          
                    </form>
                </div> 
        <footer th:replace="~{layout/plantilla :: footer}"/>     
    </body>
</html>